@using ViewModel;
@{
    List<SelectListItem> temp = ViewData["Categories"] as List<SelectListItem>;
}
@model AddProductViewModel

<form asp-action="add" asp-controller="product" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div> 
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control">
        <span asp-validation-for="Price" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control" >
        <span asp-validation-for="Quantity" class="text-danger"></span>

    </div> 
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"> </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div> 
    <div class="mb-3">
        <label asp-for="CategoryID" class="form-label"></label>
        <select asp-for="CategoryID" asp-items="temp" class="form-control">
        </select>
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Images" class="form-label"></label>
        <input asp-for="Images" class="form-control" multiple>
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>