@using ViewModel;
@model UserForgotPasswordViewModel;
<div class="container">

    <h1 class="display-1">Forgot Password Verification </h1>

    @if (ViewBag.Success == true)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well Done </h4>
            <p>You Have Reset you password</p>
            <hr>
            <a asp-action="SignIn" asp-controller="Account">Go to SignIn</a>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Sorry</h4>
            <p>Check your Code again </p>
            <hr>
            <a asp-action="ForgotPassword" asp-controller="Account" class=" mb-0">Go to Forget password</a>
        </div>
    }

    <form asp-action="ForgotPasswordVerification" asp-controller="Account" method="post">
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Code" class="form-label"></label>
            <input asp-for="Code" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>


